.img-fluid {
     max-width: 320px !important;
    height: 320px !important; 
    border-radius: 50% !important;
    border: 5px solid yellow !important;
    padding: 5px !important;
}
#about-container-para{
    line-height: 40px !important;
}