.box{
    width: 100px;
    background-color: black;
    height: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 
h1{
    color: yellow !important;
}

